@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  @apply overflow-x-hidden
}
body{
  @apply overflow-y-hidden
}

p {
  @apply text-2xl;
}
h2 {
  @apply text-[64px] font-bold text-black;
}
h3 {
  @apply text-5xl font-bold text-black;
}
h4 {
  @apply text-[32px] font-bold text-black;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-base;
}
section{
  @apply px-5
}
.scroll-image-primary {
  animation: scroll-horizontal 40s linear infinite;
}

@keyframes scroll-horizontal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}